// Type
///////////////////


.sr-only {
  @include scut-hide-visually;
}

.sr-only-focusable {
  @extend .sr-only;
  &:focus,
  &:active {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}
