doctype html
html(lang='en')
  include partials/head
  body
    include partials/navbar
    header.site-header.container(role="banner")
      block header
        h1. Bootstrap Styleguide starter
    main(role="main")#main-content.container
      block content

        p.lead
          | Use this document as a way to quickly start any new project.
          br
          | All you get is this text and a mostly barebones HTML document.


    include partials/scripts
